body>header, body>footer {
    margin: 10px 0px;
    background: orange;
    text-align: center;
    color: white;
}

body>header a {
    display: none;
    float: right;
}

#bookmarksView li a {
    display: block;
}

.bookmark-box {
	width: 30%;
	height: auto;
	padding: 5px;
	margin: 5px;
	border: 1px solid brown;
	float: left;
	border-radius: 10px;
}

#create-bookmark {
	width: 30%;
	height: auto;
	padding: 5px;
	margin: 5px;
	border: 1px solid brown;
	float: left;
	border-radius: 10px;
	clear: both;
    
}
#create-bookmark h4 {
	margin: 10px;
}
#create-bookmark input {
        width: 100%;
        clear: both;
    }

.bookmark-title {
	color: orange;
	font-size: 24px;
}